* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  border: 2px black solid;
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.display {
  flex: 1;
  background-color: rgb(200, 200, 200);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex:4;
  background-color: black;
}

.buttons > button {
  width: 95px;
  margin: 2px;
  user-select: none;
}

.zero {
  flex: 1;
  border-radius: 50%;
  background-color: rgb(140, 140, 140);
}

.misc {
  border-radius: 50%;
  background-color: rgb(170, 170, 170);
}

.operation {
  border-radius: 50%;
  background-color: orange;
}

.digit {
  border-radius: 50%;
  background-color: rgb(140, 140, 140);
}
